# Thursday, Week 1: Activity 1
# Tuples

__Learning Objective:__ 
1. practice declaring, modifying, and using tuples.

Following: https://realpython.com/python-lists-tuples/

In [ ]:
# Tuples are defined with round parentheses 
t = ('GPUs', 'CPUs', 'supercomputers', 'threads', 'SSDs', 'RAM')

In [ ]:
# you can also define them using the tuple() function, which is similar to list() 
t = tuple( ['GPUs', 'CPUs', 'supercomputers', 'threads', 'SSDs', 'RAM'] )

In [ ]:
# indexing and slicing works for tuples just like for lists 

print(t) 
print(t[0])
print(t[-1])
print(t[2:5])

In [ ]:
# and you can reverse them just like lists, too
t[::-1]

In [ ]:
# one little subtlety you should be aware of
# you can define an empty tuple, no problem:
t = ()
type(t)

In [ ]:
# you can define a tuple with lots of stuff in it, not just two things:
t = (1, 3, 'blah', 'hello')
type(t)

In [ ]:
# but if you try this, Python will interpret the parentheses not as part of a tuple, 
# but as simple math-parentheses indicating to perform all operations within them first before moving on:
t = (1) 
type(t)

In [ ]:
# so if you really want a tuple with just one number in it, you'll need to do this:
t = (1,)
type(t)

In [1]:
# packing and unpacking tuples: 
t = ("astrochemistry", "supercomputing", "medicine")
# the above line puts "astrochemistry" in t[0], "supercomputing" in t[1], etc. 
# this is called packing a tuple. You're packing t with some tuple entries. 

# you can also unpack tuples, like this:
subject1, subject2, subject3 = t
# when packing and unpacking, the order matters and is preserved!

In [2]:
subject1

'astrochemistry'

In [3]:
subject2

'supercomputing'

In [4]:
# the number of variables on the left hand side must match the number of entries in the tuple:
print(len(t))

subject1, subject2, subject3, subject4 = t

3

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
# thankfully the error that Python throws in this case is pretty descriptive 
# so you should be able to debug a mistake like this quickly.

In [5]:
# tuples are immutable! (can't be changed) 
print(t)
t[0] = 'something else'

('astrochemistry', 'supercomputing', 'medicine')

TypeError: 'tuple' object does not support item assignment

In [6]:
# but, you can do a curious thing with them in the specific case of swapping values 
(a, b) = ("tuple entry 1", "tuple entry 2")
print(a, b)

tuple entry 1 tuple entry 2

In [7]:
(a, b) = (b, a)
print(a, b)

tuple entry 2 tuple entry 1

In [ ]:
# what's that all about, didn't we just change the tuple (though it's supposed to be immutable)?
# actually, no. We simply created a new tuple (b,a) and then overwrote the old tuple (a,b) with the new values.

__Activity:__ Define a tuple of any length. Then print it out in reverse order.

In [3]:
max_five = (1,2,3,4,5) 
print(animal[::-1])

(6, 5, 4, 3, 2, 1)

__Activity:__ Define a list of tuples, where the list has length N > 2 and the tuples each have a length of 3 entries.

In [ ]:
max_eight = (6, 7, 8)
max_eleven = (9, 10, 11)

__Activity:__ Now write a line of code that replaces the last entry in all N tuples with 42. Hint: recall that tuples are immutable, but you can create new tuples that are similar but not identical to previously defined ones.

Example: if my list was [(1, 2), (3, -1)], my desired output is [(1, 42), (3, 42)]

__Activity:__ Define an arbitrary list. Write a program that converts it to a tuple.

__Activity__: write a function that takes a rest wavelength and an observed wavelength and calculates both the redshift and the velocity of the host galaxy that's emitting this light. The function should return both values. 

Test your function by calling it with two sample wavelengths from HW1 or HW2 and then unpacking the return values into variables you can print out.

__Activity:__ using the Python function all(), write a function that checks if all entries in a given tuple are the same. Test it with a couple of tuples to see if it works as expected.

__Activity:__ write a function that checks if any entries in a given tuple are prime. You will need the is_prime() function from Wednesday's Activity 2 (and perhaps another built-in Python function). Test it with a couple of tuples to see if it works as expected.