# Thursday, Week 1: Activity 2
# Sets: 

__Learning Objective:__ 
1. practice declaring, modifying, and using sets.
Following: https://realpython.com/python-sets/

In [1]:
# Sets are a built-in data type in Python that are unordered, have unique elements,
# and are mutable. However, the elements within a set must be of immutable types. 

# sets are declared like this: 
example_set = set( ['Alice', 'Anne', 'Bob', 'Alice'] )
example_set # the resulting example_set will have entries that are strings and each entry appears exactly once

{'Alice', 'Anne', 'Bob'}

In [2]:
# you can also declare a set using another kind of iterable: a string
another_set = set( 'california' )
another_set # notice that the letters i and a appear only once in the set, even though they're repeated in 'california'

{'a', 'c', 'f', 'i', 'l', 'n', 'o', 'r'}

In [ ]:
another_set = set( 'cAlifornia' )
another_set # capital letters are considered unique from their lowercase counterparts

In [3]:
# one more way of declaring sets:
last_set = {'baseball', 'basketball', 'baseball', 'football', 'cross-country'}
last_set

# just be careful with braces, because although a set can be empty when declared with set()
# Python interprets s = {} as an empty dictionary... more on that below.

{'baseball', 'basketball', 'cross-country', 'football'}

In [ ]:
# to recap:
# The argument to set() is an iterable (e.g. a list or string). It generates a list of elements to be placed into the set.
# The objects in curly braces are placed into the set intact, even if they are iterable.

In [4]:
# sets can have entries of different types:
x = {42, 'foo', 3.14159, None}

In [5]:
# so long as all the entries are immutable.
# this is okay:
x = {42, 'foo', (1, 2, 3), 3.14159} # because tuples are immutable! 

# but this is not: 
a = [1, 2, 3]
{a} # because a is a list and lists are mutable

TypeError: unhashable type: 'list'

In [6]:
# you can check if something is in a set using the 'in' operator
subjects = {'astrochemistry', 'supercomputing', 'medicine', 'AI', 'genomics'}

'economics' in subjects

False

In [7]:
new_subjects = {'economics', 'supercomputing'}
subjects + new_subjects

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
subjects | new_subjects # this produces the union of the set -- notice that supercomputing doesn't repeat! 
# the union of two sets is a set.

{'AI', 'astrochemistry', 'economics', 'genomics', 'medicine', 'supercomputing'}

In [9]:
# can also get the union like this:
subjects.union(new_subjects)

{'AI', 'astrochemistry', 'economics', 'genomics', 'medicine', 'supercomputing'}

In [10]:
# you might be interested in the intersection of two sets -- elements that appear in both:
print(subjects & new_subjects)
print(subjects.intersection(new_subjects))

{'supercomputing'}
{'supercomputing'}

In [11]:
# or the difference of two sets: all elements that are in x2 but not x2: 
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'} # 'baz' is in both sets. 

print(x1.difference(x2))

print(x1 - x2)

{'bar', 'foo'}
{'bar', 'foo'}

In [12]:
# you can also grab all elements that are in one set or the other but not both:
print(x1 ^ x2)
print(x1.symmetric_difference(x2))

{'quux', 'qux', 'foo', 'bar'}
{'quux', 'qux', 'foo', 'bar'}

In [ ]:
# we could do this all day. There are tons of other methods and operators you can use on sets
# and I encourage you to look them up as you're solving problems if you think they might be useful!

__Activity:__ Ask each member of the group to write down a list with academic subjects they enjoy. Define a set that finds which subjects you all enjoy.

In [16]:
subjects = {'math', 'astronomy', 'CS'}
alexa_subjects = {'history', 'english', 'CS'}

print(alexa_subjects | subjects)

{'astronomy', 'math', 'english', 'CS', 'history'}

__Activity:__ Given a list that contains exactly one unique entry (the rest are repeated), identify the unique entry.

Example: 
input_list = [1, 2, 3, 6, 5, 4, 4, 2, 5, 1, 6, 5, 3, 2, 4, 1, 3, 6, 8, 4, 3, 1, 5, 6, 2]

output = 8, because 8 is the only number in the list that is not repeated.

In [24]:
input_set = {1, 2, 3, 6, 5, 4, 4, 2, 5, 1, 6, 5, 3, 2, 4, 1, 3, 6, 8, 4, 3, 1, 5, 6, 2}

def if_repeated(original_set):
    unique_set = set(original_set) #turn the given list into a set - print: 1,2,3,4,5,6,7,8
    count = 0
    i = 0

    for item in original_set:
        if unique_set[i] in original_set:
            count += 1
        i + 1
        if count < 2:
            print(f'The number {item} is unique')

if_repeated(input_set)

TypeError: 'set' object is not subscriptable